Package: com.nextsolution.brightnessedgehaptic
Name: Brightness Edge Haptic
Version: 1.0.0
Architecture: iphoneos-arm64
Depends: firmware (>= 15.0), mobilesubstrate, preferenceloader
Description: Plays a distinct haptic when display brightness newly reaches minimum or maximum.
Maintainer: Next Jailbreak
Author: Next Jailbreak
Section: Tweaks
Priority: optional
Homepage: https://nextjailbreak.com/
Depiction: https://nextjailbreak.com/depictions/brightnessedgehaptic.html
