Package: com.nextsolution.nexthometorch
Name: Next Home Torch
Version: 1.0.1
Architecture: iphoneos-arm64
Depends: firmware (>= 15.0), mobilesubstrate, preferenceloader
Description: Toggle the flashlight with a two-finger tap on an empty Home Screen area. Includes one simple enable or disable switch.
Maintainer: Next Solution
Author: Next Solution
Section: Tweaks
Priority: optional
Homepage: https://nextsolution.cc/
Depiction: https://nextsolution.cc/depictions/nexthometorch.html
