Package: com.nextsolution.screenshothaptic
Name: Screenshot Haptic
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Plays one success haptic after iOS confirms a screenshot was taken.
Maintainer: Next Jailbreak
Author: Next Jailbreak
Section: Tweaks
Depends: firmware (>= 15.0), mobilesubstrate, preferenceloader
Homepage: https://nextjailbreak.com/
Depiction: https://nextjailbreak.com/depictions/screenshothaptic.html
