Package: com.nextsolution.nextlockdatefix17
Name: NextLock Date Fix 17
Version: 1.1.5~test17
Architecture: iphoneos-arm64e
Description: Date-only native iOS 16 Lock Screen fix for NextLock Test 17.
Maintainer: Next Solution
Author: Next Solution
Section: Tweaks
Depends: mobilesubstrate, firmware (>= 16.0)
