Package: com.nextsolution.thermalwarninghaptic
Name: Thermal Warning Haptic
Version: 1.0.0
Architecture: iphoneos-arm64
Depends: firmware (>= 15.0), mobilesubstrate, preferenceloader
Description: Plays one warning haptic when the iPhone newly enters a serious or critical thermal state.
Maintainer: Next Jailbreak
Author: Next Jailbreak
Section: Tweaks
Priority: optional
Homepage: https://nextjailbreak.com/
Depiction: https://nextjailbreak.com/depictions/thermalwarninghaptic.html
