Package: com.nextsolution.lockglyphtime
Name: NextLock
Version: 1.0.4
Architecture: iphoneos-arm64
Description: Next Solution lock-screen customization suite for time, date, fonts, colors, positioning, shadows, SF Symbols and custom photos with transparent sticker support. Version 1.0.4 adds an independent expandable Custom Photo frame-size control up to 180pt.
Maintainer: Next Solution - Zeeshan Barvi
Author: Next Solution - Zeeshan Barvi
Section: Tweaks
Depends: firmware (>= 15.0), mobilesubstrate, preferenceloader
Homepage: https://nextsolution.cc
Depiction: https://nextsolution.cc/depictions/nextlock.html
SileoDepiction: https://nextsolution.cc/depictions/nextlock.html
Icon: https://nextsolution.cc/NextLockIcon.png
