Package: com.nextsolution.lockglyphtime
Name: NextLock
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Next Solution lock-screen customization suite for time, date, fonts, colors, positioning, shadows, SF Symbols and custom photos with transparent sticker support.
Maintainer: Next Solution - Zeeshan Barvi
Author: Next Solution - Zeeshan Barvi
Section: Tweaks
Depends: firmware (>= 15.0), preferenceloader
Homepage: https://nextsolution.cc
