Package: com.nextsolution.cleanhomelabels
Name: Clean Home Labels
Version: 1.0.0
Architecture: iphoneos-arm64
Depends: firmware (>= 15.0), mobilesubstrate, preferenceloader
Description: Hides SpringBoard icon names for a cleaner Home Screen while leaving icons and badges intact.
Maintainer: Next Jailbreak
Author: Next Jailbreak
Section: Tweaks
Priority: optional
Homepage: https://nextjailbreak.com/
Depiction: https://nextjailbreak.com/depictions/cleanhomelabels.html
