Package: com.nextsolution.fullchargehaptic
Name: Full Charge Haptic
Version: 1.0.0
Architecture: iphoneos-arm64
Depends: firmware (>= 15.0), mobilesubstrate, preferenceloader
Description: Plays one success haptic when the iPhone first reaches a full charge while connected to power.
Maintainer: Next Jailbreak
Author: Next Jailbreak
Section: Tweaks
Priority: optional
Homepage: https://nextjailbreak.com/
Depiction: https://nextjailbreak.com/depictions/fullchargehaptic.html
