Package: com.nextpassword.keyboard
Name: Next Password Keyboard
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Next Password keyboard extension and password generator for iOS 16 RootHide.
Maintainer: Next Solution - Zeshan 0727
Author: Next Solution
Section: Tweaks
Depends: firmware (>= 16.0), ldid, uikittools
Priority: optional
