<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://files.nextsolution.cc/apps/ipa/com-nextsolution-3ad641639e664ffb93dd/1.4.6/com-nextsolution-3ad641639e664ffb93dd-1.4.6-12.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>https://nextsolution.cc/install/icons/com-nextsolution-3ad641639e664ffb93dd-b26bbe938b6c.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>https://nextsolution.cc/install/icons/com-nextsolution-3ad641639e664ffb93dd-b26bbe938b6c.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.nextsolution.3ad641639e664ffb93dd</string>
				<key>bundle-version</key>
				<string>12</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>3AD64163 9E66 4FFB 93DD</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
