Package: com.nextsolution.internetlosthaptic
Name: Internet Lost Haptic
Version: 1.0.0
Architecture: iphoneos-arm64
Depends: firmware (>= 15.0), mobilesubstrate, preferenceloader
Description: Plays one warning haptic when a usable network path becomes unavailable.
Maintainer: Next Solution
Author: Next Solution
Section: Tweaks
Priority: optional
Homepage: https://nextsolution.cc/
Depiction: https://nextsolution.cc/depictions/internetlosthaptic.html
