<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>NextQuickReminderPreferences</string>
    <key>CFBundleIdentifier</key>
    <string>com.nextsolution.nextquickreminder.preferences</string>
    <key>CFBundleName</key>
    <string>Next Quick Reminder</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.1</string>
    <key>CFBundleVersion</key>
    <string>1.0.1</string>
    <key>NSPrincipalClass</key>
    <string>NQRRootListController</string>
</dict>
</plist>
