Package: com.nextsolution.nextmessage
Name: Next Message
Version: 0.2.0
Architecture: iphoneos-arm64
Description: Concept A redesign for Apple Messages with glass header, filters, conversation cards, modern chat bubbles, smart replies, System/Light/Black themes, Info and Delete swipe actions.
Maintainer: Next Solution - Zeshan 0727
Author: Next Solution - Zeshan 0727
Section: Tweaks
Depends: mobilesubstrate, preferenceloader, firmware (>= 15.0)
Icon: https://zeshan0727.github.io/CydiaIcon.png
