Package: com.nextsolution.charginginterruptedhaptic
Name: Charging Interrupted Haptic
Version: 1.0.0
Architecture: iphoneos-arm64
Depends: firmware (>= 15.0), mobilesubstrate, preferenceloader
Description: Plays a warning haptic when the iPhone unexpectedly transitions from charging to unplugged.
Maintainer: Next Jailbreak
Author: Next Jailbreak
Section: Tweaks
Priority: optional
Homepage: https://nextjailbreak.com/
Depiction: https://nextjailbreak.com/depictions/charginginterruptedhaptic.html
