Package: com.nextsolution.nextaura.prefsext.moduleglass
Name: Module Glass Preferences Extension
Version: 1.0.0
Architecture: iphoneos-arm64e
Description: Internal Preferences-only native Volume icon color picker extension used by Module Glass.
Maintainer: Next Solution
Author: Next Solution - zeshan0727
Section: System
Depends: firmware (>= 16.0), mobilesubstrate
Priority: optional
