<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDisplayName</key><string>NextSolution License</string>
  <key>CFBundleExecutable</key><string>NextSolutionLicenseAdmin</string>
  <key>CFBundleIdentifier</key><string>com.nextsolution.licenseadmin</string>
  <key>CFBundleName</key><string>NextSolutionLicenseAdmin</string>
  <key>CFBundlePackageType</key><string>APPL</string>
  <key>CFBundleShortVersionString</key><string>1.0.0</string>
  <key>CFBundleVersion</key><string>100</string>
  <key>LSRequiresIPhoneOS</key><true/>
  <key>MinimumOSVersion</key><string>16.0</string>
  <key>UIRequiresFullScreen</key><true/>
  <key>UILaunchScreen</key><dict/>
  <key>UISupportedInterfaceOrientations</key>
  <array><string>UIInterfaceOrientationPortrait</string></array>
  <key>CFBundleURLTypes</key>
  <array>
    <dict>
      <key>CFBundleURLName</key><string>NextSolution License Request</string>
      <key>CFBundleURLSchemes</key>
      <array><string>nextsolutionlicense</string></array>
    </dict>
  </array>
  <key>CFBundleIcons</key>
  <dict>
    <key>CFBundlePrimaryIcon</key>
    <dict>
      <key>CFBundleIconFiles</key>
      <array><string>AppIcon60x60</string></array>
    </dict>
  </dict>
</dict>
</plist>
