<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key><string>English</string>
    <key>CFBundleDisplayName</key><string>NextStyle</string>
    <key>CFBundleExecutable</key><string>LockGlyphTimePrefs</string>
    <key>CFBundleIdentifier</key><string>com.nextsolution.lockglyphtimeprefs</string>
    <key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
    <key>CFBundleName</key><string>NextStylePrefs</string>
    <key>CFBundlePackageType</key><string>BNDL</string>
    <key>CFBundleShortVersionString</key><string>1.0.0</string>
    <key>CFBundleVersion</key><string>100</string>
    <key>NSPrincipalClass</key><string>LGTListController</string>
</dict>
</plist>
